[submodule "FullStack/holbertonschool-web-development"]
	path = FullStack/holbertonschool-web-development
	url = git@github.com:clementroume/holbertonschool-web-development.git
[submodule "FullStack/holbertonschool-web_front_end"]
	path = FullStack/holbertonschool-web_front_end
	url = git@github.com:clementroume/holbertonschool-web_front_end.git
[submodule "FullStack/holbertonschool-Markdown2HTML"]
	path = FullStack/holbertonschool-Markdown2HTML
	url = git@github.com:clementroume/holbertonschool-Markdown2HTML.git
[submodule "FullStack/holbertonschool-headphones"]
	path = FullStack/holbertonschool-headphones
	url = git@github.com:clementroume/holbertonschool-headphones.git
[submodule "FullStack/holbertonschool-Fun-with-CSS"]
	path = FullStack/holbertonschool-Fun-with-CSS
	url = git@github.com:clementroume/holbertonschool-Fun-with-CSS.git
[submodule "Miscellaneous/holbertonschool-france-certificates-ibm"]
	path = Miscellaneous/holbertonschool-france-certificates-ibm
	url = git@github.com:clementroume/holbertonschool-france-certificates-ibm.git
[submodule "Miscellaneous/holbertonschool-interview"]
	path = Miscellaneous/holbertonschool-interview
	url = git@github.com:clementroume/holbertonschool-interview.git
[submodule "FullStack/holbertonschool-web_back_end"]
	path = FullStack/holbertonschool-web_back_end
	url = git@github.com:clementroume/holbertonschool-web_back_end.git
[submodule "FullStack/holbertonschool-smiling-school-javascript"]
	path = FullStack/holbertonschool-smiling-school-javascript
	url = git@github.com:clementroume/holbertonschool-smiling-school-javascript.git
[submodule "holbertonschool-files_manager"]
	path = holbertonschool-files_manager
	url = git@github.com:clementroume/holbertonschool-files_manager.git
