[submodule "FullStack/holbertonschool-web-development"]
	path = FullStack/holbertonschool-web-development
	url = git@github.com:clementroume/holbertonschool-web-development.git
[submodule "FullStack/holbertonschool-web_front_end"]
	path = FullStack/holbertonschool-web_front_end
	url = git@github.com:clementroume/holbertonschool-web_front_end.git
[submodule "FullStack/holbertonschool-Markdown2HTML"]
	path = FullStack/holbertonschool-Markdown2HTML
	url = git@github.com:clementroume/holbertonschool-Markdown2HTML.git
[submodule "Divers/holbertonschool-france-certificates-ibm"]
	path = Divers/holbertonschool-france-certificates-ibm
	url = git@github.com:clementroume/holbertonschool-france-certificates-ibm.git
[submodule "FullStack/holbertonschool-headphones"]
	path = FullStack/holbertonschool-headphones
	url = git@github.com:clementroume/holbertonschool-headphones.git
